.ejey{
    color: #4977D6 !important;
    transform: rotate(-90deg);
    margin-left: 300px;
    margin-right: -240px;
}

.ejex{
    color: #4977D6 !important;
}

.containerGraphic{
    display: flex;
    flex-direction: row !important;
}
.valores{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #171718 !important;
    margin-left: 225px;
    line-height: 1;
    letter-spacing: 1.7em;
    
}