.ejey{
    color: #1e1e1f !important;
    transform: rotate(-90deg);
    margin-left: 250px;
    margin-right: -240px;
}

.ejex{
    color: #1e1e1f !important;
}

.containerGraphic{
    margin-top: 35px !important;
    display: inline-flex;
    flex-direction: row !important;
}

.container1{
    width: 1020px;
    height: 580px;
    margin-right: 300px;
}

.valores{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #171718 !important;
    margin-left: 220px;
    line-height: 1;
    letter-spacing: 1.7em; 
}