.ejey{
    color: #1e1e1f !important;
    transform: rotate(-90deg);
    margin-right: 92%;
}

.ejex{
    color: #1e1e1f !important;
}

.containerGraphic{
    width: 93%;
    height: 15%;
}

.container1{
    width: 100%;
}


.valores{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #171718 !important;
    margin-left: 220px;
    line-height: 1;
    letter-spacing: 1.7em; 
}