.containerGListUsers {
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #e5e5ee;
    min-height: 100vh;*/
}

.sectionDiv::before {
    /*content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);*/
}

.sectionDiv::after {
    /*content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);*/
}

.containerP {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.containerP .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    transform-style: preserve-3d;
    perspective: 1000px;
}

.containerP .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.7;
    transition: 0.5s;
}

.containerP .card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
}
.containerP .card .content .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0,0,0,0.25);

}

.containerP .card .content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.containerP .card .content .contentBx h3 {
    color : rgb(4, 43, 100) !important;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-weight: 800 !important;
    font-size: 20px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
    transform: translateZ(30px);
    font-family: sans-serif;
}

.containerP .card .content .contentBx h3 span {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.containerP .card .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
}

.containerP .card .sci .liB{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
}

.containerP .card:hover .sci .liB{
    transform: translateY(2px);
    opacity: 1;
}

.containerP .card .sci .liB .enlace {
    color: rgb(128, 116, 116);
    font-size: 24px;
}