.col-form-label {
    font-size: 25px !important;
    font-weight: bold !important;
}

.btn-primary {
    background-color: rgb(19, 75, 139);
}

.imgLogo {
    max-width: 350px;
}

@media (max-width: 600px) {
    .imgLogo {
        max-width: 100px;
    }    
}