@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
h1 {
    font-family: 'Amaranth', sans-serif;
    color: #fd650d;
}
h5 { 
    font-family: 'Lato', sans-serif;
    color: rgb(19, 75, 139);
    font-weight: bold;
}

h3 {
    font-family: 'Amaranth', sans-serif;
    color: #fd650d;
}